@import './variables.css';

/* ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: rgb(61, 61, 61);
  }
  
 */

.big-icon {
  padding-right: 1.4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.cards {
  margin: 0.0rem;
  position: relative;
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray
}


.cards:hover {
  border-width: 5px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  background-color: lightgray;
}

.cards a:link {
  text-decoration: none;
}

.cards a:visited {
  text-decoration: none;
}

.cards a:hover {
  text-decoration: none;
}

.cards a:active {
  text-decoration: none;
}

/* 
  .cards::before {
      content: "";
      position: absolute;
      top: auto;
      bottom: 0;
      left: auto;
      right: -24%;
      width: 60%;
      height: 14%;
      transform: scaleX(-1) translateY(100%) rotate(45deg);
      background-color: white;
      z-index: 1;
  }

  .cards.low::before {
      background-color: var(--gray);
  }

  .cards.medium::before {
      background-color: var(--blue);
  }

  .cards.high::before {
      background-color: var(--red);
  } */

.cards.low {
  background-color: var(--low-light);
  border-color: var(--low);
  color: var(--low);
}

.cards.medium {
  background-color: var(--medium-light);
  border-color: var(--medium);
  color: var(--medium);
}

.cards.high {
  background-color: var(--high-light);
  border-color: var(--high);
  color: var(--high);
}

.cards-project-h2 {
  font-size: 0.8rem;
  font-weight: 400;
  color: black;
}

.featured-icon {
  padding-top: 0.4rem;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.4rem;
  color: white;
}


.low {
  background-color: var(--low);
}

.medium {
  background-color: var(--medium);
}

.high {
  background-color: var(--high);
}

.cards-title {
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
  padding: 0;
  margin: 0;
}

.cards-project {
  font-weight: 400;
}

.cards-project-title {
  font-size: 1.4rem;
  font-weight: 600;
}

.description {
  text-align: left;
  font-size: 14px;
  margin-top: 20px;
  color: black;
}

.done {
  color: var(--green);
}

.doing {
  border-color: var(--blue);
  color: var(--blue);
}

.to-do {
  border-color: var(--orange);
  color: var(--orange);
}

.canceled {
  border-color: var(--gray);
  color: var(--gray-light);
}

.wait {
  border-color: var(--gray);
  color: var(--gray);
}

.label {
  margin-top: 0px;
  margin-bottom: -0px;
  font-size: 1.2rem;
  font-weight: 800;
}

.line-list {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray
}

.search-container {
  border-width: 2px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 20px 20px 20px 20px;
  padding: 10px 15px 10px 15px;
  margin: 0 4px 0 4px;
  color: black;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.primary {
  color: var(--primary);
}