@import './variables.css';

.icon-fake {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--gray-light);
    padding-left: 60px;
    padding-top: 11px;
}

.small-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0.2rem;
    margin: 0rem;
    border-style: none;
    border-width: 0px;
    border-radius: 20px;
    box-shadow: var(--box-shadow-value);
    background-color: var(--background-container-color);
}

.small-container .icon {

    color: var(--primary);
}

.small-container-fake {
    width: 210px;
    height: 60px;
    border-style: none;
    border-width: 0px;
    border-radius: 20px;
    box-shadow: var(--box-shadow-value);
    background-color: var(--background-container-color);
    min-height: 100%;
}