.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  line-height: 1;
}

.btn-close:hover {
  color: #ff0000; /* Cor ao passar o mouse */
}

.btn-close::before {
  content: '×'; /* Símbolo de fechar */
}

.label-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }

  .error-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--high-light);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
  }

  .error-text {
    color: red;
    font-size: 0.8rem;
    text-align: left;
    font-weight: 500;
  }

  .form-section {
    margin-bottom: 3rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }