@import './variables.css';

.modal-dialog-custom {
    /* max-width: 600px;
    width: 600px; */
}

.myModal {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* Escurecimento de fundo */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
  }


.myModal .modal-content {
    margin-top: 5%;
    padding: 2rem;
    background-color: #fff;
    /* Cor de fundo branca para o conteúdo do modal */
    border-radius: 0.3rem;
  }

  .myModal.fade.show {
    display: block;
  }
  
  .myModal-dialog {
    margin: 15px;
  }
    
  .radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
  }


  .myModal-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  .myModal-icon {
    font-size: 1.5rem;
    color: var(--primary);
  }

  .myModal-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
    text-align: left;
    color: var(--primary);
  }

  .myModal-button-close {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background: transparent;
    border: 0;
    padding: 2px;
    cursor: pointer;
    margin-left: auto;
    color: black;
  }
  
  .myModal-button-close:before, .myModal-button-close:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0.25em;
    width: 1em;
    height: 2px;
    background-color: currentColor;
  }
  
  .myModal-button-close:before {
    transform: rotate(45deg);
  }
  
  .myModal-button-close:after {
    transform: rotate(-45deg);
  }