@import './variables.css';

.proposal-item {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
    font-weight: 800;
    font-size: 1rem;
}

.proposal-item:hover {
    background-color: lightGray;
}

.proposal-item a {
    color: black;
    text-decoration: none;
}

.service-item {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    font-size: 0.8rem;
}

.service-item:hover {
    background-color: lightGray;
}

.service-item a {
    color: black;
    text-decoration: none;
}