@import './variables.css';

.page-container {
  border-style: none;
  border-width: 2px;
  border-radius: 14px 14px 14px 14px;
  /* padding-left: 2rem;
  padding-right: 2rem; */
  /* padding-top: 2rem; */
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  margin-left: 1%;
  margin-right: 1%;
  /* overflow: hidden; */
  box-shadow: var(--box-shadow-value);
  background-color: var(--background-container-color);
}


.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding-top: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.1rem;
  border-radius: 14px 14px 0 0;
  background-color: var(--primary);
}

.page-title {
  flex: 12;
  display: flex;
  justify-content: start;
  align-items: center;
}

.page-title h1 {
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 800;
  text-align: left;
  color: white;
}

.page-title h2 {
  font-size: 1.4rem;
  font-weight: 800;
  text-align: left;
  color: var(--primary);
  padding-top: 3rem;
}

.page-icon {
  font-size: 1.2rem;
  font-weight: 800;
  text-align: left;
  color: var(--primary);
  background-color: white;
  border-radius: 50%;
  margin-right: 0.8rem;
  padding: 0.3rem;
}



.row-simple {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.section-container {
  margin-bottom: 5rem;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  /* display: flex;
  flex-wrap: wrap;
  gap: 15px; */
}

.section-action {
  flex: 2;
  display: flex;
  justify-content: center;
}

.section-container .column-1 {
  flex: 1;
  padding: 0 15px;
  box-sizing: border-box;
}

.section-container .column-2 {
  width: 50%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

.section-container .column-3 {
  width: 33.33%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

.section-title {
  flex: 12;
  display: flex;
  justify-content: start;
  color: var(--primary);
  margin-bottom: 1rem;
}

.section-title .icon {
  font-size: 0.9rem;
  font-weight: 800;
  text-align: left;
  color: white;
  background-color: var(--primary);
  border-radius: 50%;
  margin-right: 1rem;
  padding: 0.6rem;
}

.section-title h2 {
  font-size: 1.4rem;
  font-weight: 800;
  text-align: left;
  margin-top: 0.2rem;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}


.page-action {
  flex: 2;
  display: flex;
  justify-content: center;
}

.info-container {
  margin-top: 1%;
}

.header-fixed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  position: fixed;
  top: 8vh;
  left: 0;
  background-color: var(--background-light);
  /* background-color: red; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.0rem;
  padding-bottom: 1.0rem;
  margin-left: 11%;
  /* margin-right: 10%; */
  margin-bottom: 0rem;
  width: 75.5%;
  height: 12vh;
  flex-direction: row;
}

.header-fixed .icon-column {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  flex-direction: column;
}

.header-fixed .title-column {
  display: flex;
  flex: 10;
  align-items: left;
  justify-content: center;
  margin-right: 1rem;
  flex-direction: column;
}

.section-menu {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  margin-right: 2rem;

}


.section-menu .item-menu {
  background-color: var(--primary);
  color: white;
  border-radius: 50%;
  font-size: 0.9rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.section-menu .item-menu:hover {
  background-color: var(--purple-light);
  color: var(--primary);
}

.section-menu .item-menu.active {
  background-color: var(--primary);
  color: white;
}

.highlight {
  animation: highlightAnimation 4s ease-out;
}

@keyframes highlightAnimation {
  0% {
      background-color: var(--done-color);
      border-color: var(--done-color);
      border-width: 5px;
  }

  100% {
      background-color: transparent;
  }
}

.highlight .big-icon {
  animation: highlightIcon 4s ease-out;
}

@keyframes highlightIcon {
  0% {
      color: white;
  }

  100% {
      color: var(--gray);
      /* ou a cor padrão que você deseja usar */
  }
}

.column-1 {
  display: flex;
  flex-basis: 1%;
}

.column-5 {
  display: flex;
  flex-basis: 5%;
}

.column-10 {
  display: flex;
  flex-basis: 10%;
}

.column-20 {
  display: flex;
  flex-basis: 20%;
}

.column-25 {
  display: flex;
  flex-basis: 25%;
}

.column-30 {
  display: flex;
  flex-basis: 30%;
}

.column-40 {
  display: flex;
  flex-basis: 40%;
}

.column-45 {
  display: flex;
  flex-basis: 45%;
}

.column-50 {
  display: flex;
  flex-basis: 50%;
}

.column-55 {
  display: flex;
  flex-basis: 55%;
}

.column-60 {
  display: flex;
  flex-basis: 60%;
}

.column-65 {
  display: flex;
  flex-basis: 65%;
}

.column-70 {
  display: flex;
  flex-basis: 70%;
}

.column-75 {
  display: flex;
  flex-basis: 75%;
}

.column-80 {
  display: flex;
  flex-basis: 80%;
}

.column-85 {
  display: flex;
  flex-basis: 85%;
}

.column-90 {
  display: flex;
  flex-basis: 90%;
}

.column-100 {
  display: flex;
  flex-basis: 100%;
}

.show-duration {
  font-weight: 800 !important;
  font-size: 1.6rem !important;
  text-align: right;
  color: white;
}

.show-title {
  font-size: 26px;
  font-weight: 900 !important;
  padding-bottom: 0px;
  color: black;
}

.page-title-icon {
  font-size: 2rem;
  color: var(--primary);
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  font-size: 1rem;
}

.history-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}
/* .history-row:hover {
  background-color: var(--purple-light);
  color: var(--purple);
} */

.history-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: var(--background-light);
  color: var(--gray);
  border-radius: 10px;
  box-shadow: var(--box-shadow-value);
  transition: background-color 0.3s ease;
}

.history-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  color: var(--gray);
  font-weight: 800;
}
.history-date:hover {
  color: var(--purple);
}
.history-item:hover {
  background-color: var(--purple-light);
  color: var(--purple);
}

.final-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 100%; */
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}