@import './variables.css';

.info-container {
  margin-top: 16%;
}

.header-fixed {
  z-index: 1000;
    position: fixed;
    top: 2rem;
    left: 0;
    border-bottom-style: solid;
    border-width: 4px;
    border-color: var(--primary);
    background-color: var(--background-light);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 90%;
    height: 26%;
  }

  .header-fixed-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-fixed-menu .item-menu {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 6px;
  }
  
  .header-fixed-menu .item-menu.active {
    background-color: var(--primary);
    color: white;
  }