@import './variables.css';

.page-container {
  border-style: none;
  border-width: 2px;
  border-radius: 14px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  margin-left: 1%;
  margin-right: 1%;
  box-shadow: var(--box-shadow-value);
  background-color: var(--background-container-color);
}

.page-container .section-container {
  margin-bottom: 7rem;
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.page-container .row-simple {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.section-container .action-container {
  flex: 2;
  display: flex;
  justify-content: center;
}

.section-container .column-1 {
  flex: 1;
  padding: 0 15px;
  box-sizing: border-box;
}

.section-container .column-2 {
  width: 50%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

.section-container .column-3 {
  width: 33.33%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

.subtitle-container {
  flex: 1 1 100%;
  display: flex;
  justify-content: start;
  margin-bottom: 1.5rem;
  color: var(--primary);
}

.subtitle-container .icon {
  font-size: 0.9rem;
  font-weight: 800;
  text-align: left;
  color: white;
  background-color: var(--primary);
  border-radius: 50%;
  margin-right: 1rem;
  padding: 0.6rem;
}

.subtitle-container h2 {
  font-size: 1.6rem;
  font-weight: 800;
  text-align: left;
  margin-top: 0.2rem;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.page-header .title-container {
  flex: 12;
  display: flex;
  justify-content: start;
  margin-top: 1rem;
}

.section-header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.title-container h1 {
  font-size: 2.2rem;
  font-weight: 800;
  text-align: left;
  color: var(--primary);
  margin-top: 0.2rem;
}

.title-container h2 {
  font-size: 1.4rem;
  font-weight: 800;
  text-align: left;
  color: var(--primary);
  padding-top: 3rem;
}

.title-container .icon {
  font-size: 1.4rem;
  font-weight: 800;
  text-align: left;
  color: white;
  background-color: var(--primary);
  border-radius: 50%;
  margin-right: 1rem;
  padding: 0.6rem;
}



.page-header .action-container {
  flex: 2;
  display: flex;
  justify-content: center;
}

.info-container {
  margin-top: 16%;
}

.header-fixed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  position: fixed;
  top: 8vh;
  left: 0;
  background-color: var(--background-light);
  /* background-color: red; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.0rem;
  padding-bottom: 1.0rem;
  margin-left: 11%;
  /* margin-right: 10%; */
  margin-bottom: 0rem;
  width: 75.5%;
  height: 12vh;
  flex-direction: row;
}

.header-fixed .icon-column {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  flex-direction: column;
}

.header-fixed .title-column {
  display: flex;
  flex: 10;
  align-items: left;
  justify-content: center;
  margin-right: 1rem;
  flex-direction: column;
}

.header-fixed-menu {
  position: fixed;
  top: 25vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.header-fixed-menu .item-menu {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 6px;
  font-size: 0.9rem;
}

.header-fixed-menu .item-menu.active {
  background-color: var(--primary);
  color: white;
}

.highlight {
  animation: highlightAnimation 4s ease-out;
}

@keyframes highlightAnimation {
  0% {
      background-color: var(--done-color);
      border-color: var(--done-color);
      border-width: 5px;
  }

  100% {
      background-color: transparent;
  }
}

.highlight .big-icon {
  animation: highlightIcon 4s ease-out;
}

@keyframes highlightIcon {
  0% {
      color: white;
  }

  100% {
      color: var(--gray);
      /* ou a cor padrão que você deseja usar */
  }
}

.content-below-header {
  margin-top: 6vh;
  /* padding-top: 1rem; */
}

.column-10 {
  flex-basis: 10%;
}

.column-20 {
  flex-basis: 20%;
}

.column-25 {
  flex-basis: 25%;
}

.column-30 {
  flex-basis: 30%;
}

.column-40 {
  flex-basis: 40%;
}

.column-50 {
  flex-basis: 50%;
}

.column-60 {
  flex-basis: 60%;
}

.column-70 {
  flex-basis: 70%;
}

.column-80 {
  flex-basis: 80%;
}

.column-90 {
  flex-basis: 90%;
}

.column-100 {
  flex-basis: 100%;
}

.show-duration {
  font-weight: 800 !important;
  font-size: 0.9rem !important;
  text-align: center;
}

.show-title {
  font-size: 24px;
  font-weight: 900 !important;
  padding-top: 10px;
  padding-bottom: 0px;
  color: black;
}

.show-title-icon {
  font-size: 2rem;
  color: var(--primary);
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  margin-bottom: 1rem;
}