@import './variables.css';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  background-color: var(--background-light);
}

label {
  font-weight: 800;
  text-align: left;
}

.button-new {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: white;
  background-color: var(--purple);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  height: 2.8rem;
}

.button-new:hover {
  border-color: var(--purple);
  background-color: var(--purple-light);
  color: var(--purple);
}

.button-rounded {
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 20px 20px 20px 20px;
  /* padding: 10px 0px 10px 0px; */
  /* margin: 0 4px 0 4px; */
  text-align: center;
  font-size: 32px;
  color: white;
  font-weight: 800;
  width: 6%;
}

/* button */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  width: 9rem;
  font-weight: 800;
  border-color: var(--purple-light);
  background-color: var(--purple);
  color: white;
}

/* Estilos responsivos para telas pequenas */
@media (max-width: 576px) {
  .button {
    /* border-radius: 6px 6px 6px 6px; */
  }

  /* Estilos responsivos para telas médias */
@media (min-width: 577px) and (max-width: 768px) {
  .button {
    /* border-radius: 6px 6px 6px 6px; */
  }
}
}

.button:hover {
  border-color: var(--purple);
  background-color: var(--purple-light);
  color: var(--purple);
}

/* circular button */
.button-circular {
  border-radius: 50%;
}

.button-circular:hover .delete {
  color: white;
  background-color: var(--red);
}

.button-circular.primary {
  font-weight: 900;
  color: white;
  border-color: var(--purple);
  background-color: var(--purple);
}

.button-circular.primary:hover {
  color: var(--purple);
  background-color: var(--purple-light);
}

.button-circular:hover .stop {
  color: white;
  background-color: var(--blue);
}

.stop {
  font-weight: 900;
  color: var(--blue);
  border-color: var(--blue);
  background-color: var(--blue-light);
}

.stop:hover {
  border-color: var(--blue);
  background-color: var(--blue);
}


.delete {
  font-weight: 900;
  color: var(--red);
  border-color: var(--red);
  background-color: var(--red-light);
}

.delete:hover {
  border-color: var(--red);
  background-color: var(--red);
}

/* .primary:hover {
  border-color: var(--purple);
  background-color: var(--purple);
} */

/* fim de button-circular */


.default-text {
  color: black;
  font-size: 0.9rem;
}

.small-text {
  color: black;
  font-size: 0.8rem;
}

.form-container {
  border-style: solid;
  border-color: #ff3eb5;
  border-width: 2px;
  /* margin-left: 180px;
    margin-right: 180px; */
  margin-bottom: 60px;
  margin-top: 60px;
  padding: 4%;
  border-radius: 16px;
  transition: all 0.5s;
  text-align: left;
  font-weight: 800;
}

.main {
  margin-left: 10%;
  margin-right: 10%;
  /* margin-bottom: 5vh; falta o rodape */
  padding: 0%;
  transition: all 0.5s;
}

.new {
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  border-color: #ff3eb5;
  color: #ff3eb5;
  margin-left: 50px;
  font-size: 16px;
}

.new:hover {
  background-color: #ff3eb5;
  color: white;
  margin-left: 50px;
}

.errorBox {
  color: red;
  background-color: rgb(239, 165, 165);
  border-color: red;
}

.icon-new {
  font-size: 20px;
  font-weight: 900;
  color: white;
}

.button:hover .icon-new {
  color: var(--purple);
}

.rotate-icon {
  animation: rotateAnimation 1s infinite;
  /* Duração e repetição da animação */
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
    /* Ângulo inicial */
  }

  to {
    transform: rotate(360deg);
    /* Ângulo final */
  }
}

.card-line {
  margin: 0.8rem;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-radius: 6px;
  background-color: var(--gray-light);
  padding: 0.8rem;
  min-height: 1%;
  position: relative;
  overflow: hidden;
}

.card-line:hover {
  border-width: 5px;
  border-radius: 14px;
}

.line {
  display: flex;
  margin: 0.8rem;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-radius: 6px;
  background-color: var(--gray-light);
}

.line:hover {
  border-width: 5px;
  border-radius: 14px;
}

.hidden {
  display: none;
  transition: display 2s;
}

.show {
  display: block;
  transition: display 2s;
}